

#form-registro{
    background-color: grey;
    padding: 50px 0px;
        .content-title{
            padding: 30px;
        }

    .content-form{
        background-color: rgb(165, 218, 218);
    }
}